/* FIXED CSS */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
    background-color: #ffeeed;
}

input, textarea {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
    border-left: none;
    outline: none;
    width: 50%;
}

select {
    border-radius: 10px;
    outline: none;
}

button {
    height: 40px;
    width: 100px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 20px;
    outline: none;
}

label, select, option, button, .pageTwo {
    font-weight: bold;
}

/* COMBINED CSS */
.main, .pageTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.design, .header, .form, .formMed, .formLong {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 48%;
}

.headerTitle, .headerBody, .required, .form, .formMed, .formLong {
    padding-left: 30px;
}

.headerBody, .required, button {
    font-size: 15px;
}

.form, .formMed, .formLong, .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.headerTitle, .headerBody, .required, .red, .checkboxCon, .checkbox, label, input, select, option, textarea {
    background-color: white;
}

.red {
    color: red;
}

.main {
    padding: 15px;
}

.design {
    background-image: url(background.jpeg);
    background-position: center;
    background-size: contain;
    height: 160px;
    width: 50%;   
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 130px;
    width: 50%;
    overflow: hidden;
}

.headerDes {
    height: 10%;
    width: 100%;
    background-color: red;
}

.headerTitle {
    font-size: 35px;
}

.required {
    padding-bottom: 10px;
}

/* FORMS */
.form {
    height: 100px;
}

.formMed {
    height: 180px;
}

.formLong {
    height: 260px;
}

/* CHECKBOX */
.checkboxCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 260px;
}

.footer {
    height: 280px;
    width: 50%;
}

.footerNDA {
    font-style: italic;
    font-size: 14px;
}

.reminder {
    background-color: transparent;
}

/* PAGE 2 */
.pageTwo {
    height: 45vw;
    width: 100%;
    color: red;
    font-size: 50px;
}