*{
    margin: 0px;
    padding: 0px;
}

.flexStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    flex-direction: column;
    /* border-style: solid;
    border-color: red; */
    padding: 10px;
}

.title {
    background-color: white;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}